<!-- <div class="alert alert-danger not-found" role="alert">
  <h1 class="text-center"><b>Sorry, we couldn't find what you're looking for</b></h1>
  <hr>
  <p class="text-center">Please check your URL!</p>
</div> -->
<div class="not-found">
  <h1 class="err" style="background:url('../assets/img/nature.jpeg');font-size:200px;
background-position:bottom;
  white-space:nowrap;
  font-weight:300px;
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;">404</h1>
      <p class="errMessage">Page not found go <a routerLink="">home </a></p>
</div>
