<div class="footer-section">
    <!-- <div class="row">
      <div class="col-md-3 bar">
        <a href="https://www.github.com/deeksonparlma" class="footer-link"> <p>Github</p> </a>
        <a href="http://bit.ly/2WZmyTc" class="footer-link"> <p>LinkedIn</p> </a>
      </div>
      <div class="col-md-3 bar">
        <a href="https://www.twitter.com/code_mogul" class="footer-link"> <p>Twitter</p> </a>
        <a href="https://www.instagram.com/__deekson__" class="footer-link"> <p>Instagram</p> </a>
      </div>
      <div class="col-md-3 bar">
        <a href="mailto:dickson.nyaigoti@gmail.com" class="footer-link"> <p>Email</p> </a>
      </div>
    </div> -->

    <div class="ft">
      <div class="bar">
        <a href="https://www.github.com/deeksonparlma" class="footer-link"> <p>Github</p> </a>
        <a href="http://bit.ly/2WZmyTc" class="footer-link"> <p>LinkedIn</p> </a>
      </div>
      <div class="bar">
        <a href="https://www.twitter.com/code_mogul" class="footer-link"> <p>Twitter</p> </a>
        <a href="https://www.instagram.com/__deekson__" class="footer-link"> <p>Instagram</p> </a>
      </div>
      <div class="bar">
        <a href="mailto:dickson.nyaigoti@gmail.com" class="footer-link"> <p>Email</p> </a>
      </div>
    </div>
</div>
