.first{
  margin-left: auto;
}
a{
  text-decoration: none;
  color: grey;
}

.nav{
  background-color: rgba(1,8,25,0.8);
  position: fixed;
  width: 100%;
  z-index: 3;
  min-height: 50px;
}
@media only screen and (min-width:700px){
  .hamburger{
    display: none;
  }
}
@media only screen and (max-width:700px){
  .nav{
    display: block;
  }
  .navbar>p{
    padding-left: 50%;
  }
  .appName{
    display: none;
  }
  .options{
    display: none;
  }
}
