<div class="content">
  <div class="container">
    <h3> <strong>Skills</strong> </h3>
    <hr>
    <h6><i>Languages</i></h6>
    <div class="skillList">

      <div class="skill5"></div>
      <div class="skill6"></div>
      <div class="skill1"></div>
      <div class="skill3"></div>
      <div class="skill7"></div>
      <div class="skill8"></div>



    </div>
    <br>
    <h6><i>Technologies</i></h6>
    <div class="skillList">
      <div class="skill2"></div>
      <div class="skill4"></div>
      <div class="skill9"></div>
      <div class="skill14"></div>
      <div class="skill15"></div>
      <div class="skill16"></div>



    </div>
    <br>
    <h6><i>FrameWorks</i></h6>

    <div class="skillList">

      <div class="skill10"></div>
      <div class="skill11"></div>
      <div class="skill12"></div>
      <div class="skill13"></div>

    </div>

  </div>
</div>
