
<div class="content2" style="display:none;">
 <p class="text">Android development</p>
 <img src="assets/img/pic7.svg" class="imagePost" alt="">
</div>
<div class="content3">
  <img src="assets/img/pic6.svg" class="webdev" alt="">
</div>
<div class="timeline">
  <br><br>
      <div class="row" *ngFor='let project of projects'>
          <div class="col-md-1 dateSide">
            <!-- <p class="whiteDate">{{project.date}}</p> -->
          </div>

          <div class="col-md-5 description ">
            <h3 style="color: #010819;">{{project.title}}</h3>

            <p>{{project.desc}} <a style="color:grey;" href="https://play.google.com/store/apps/details?id=com.deekson.memeflix" target="_blank" >View</a></p>
          </div>
          <br><br>
        </div>
</div>
